# Jekyll
# https://github.com/github/gitignore/blob/master/Jekyll.gitignore
_site/

# Ruby/Bundler
Gemfile.lock

# OSX
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

vendor
.bundle
