---
title: Organizers - HackBU
layout: default
description: List of current HackBU Organizers

so_list:
  - 
    name: Rowan Devereux-Smith
    email: rdevere1@hackbu.org
    pos: President
  - 
    name: Samuel Yu
    email: syu12@binghamton.edu
    pos: Vice President of Communications
  - 
    name: Matthew Ham
    email: mham1@binghamton.edu
    pos: Vice President of Outreach
  -
    name: Daniel Zheng
    email: rdevere1@binghamton.edu
    pos: Vice President of Software

org_list:
  -
    name: Tianna Balkam
  -
    name: Joseph Costa
  -
    name: Zak Sujkovic
  -
    name: Hewitt Wang
  -
    name: Jonathan Wang
  -
    name: Gianni Zaccarelli
  -
    name: Rijaa Zaidi
---

<div class="article article-introduction">
	<h2><i class="fa fa-users" aria-hidden="true"></i>Organizers</h2>
	<p>Organizers are the people who help out at workshops and run the hackathon</p>
</div>
<div class="article">
	<h3>Senior Organizers</h3>
	<ul>
		{% for so in page.so_list %}
			<li>{% include person.html person=so %}</li>
		{% endfor %}
	</ul>
	<h3>Organizers</h3>
	<ul>
		{% for c in page.org_list %}
			<li>{% include person.html person=c %}</li>
		{% endfor %}
	</ul>
</div>
