<style>
	h1, h2 {
		margin-bottom: 0;
	}
</style>

{% if include.source == "blog_home" %}
	<h2>
	<a href="{{ post.url }}">
{% else %}
	<h1>
{% endif %}
	{{ include.post.title }}
{% if include.source == "blog_home" %}
	</h2>
	</a>
{% else %}
	</h1>
{% endif %}

<div class="byline">
	<address>
	Written by 
	{% for author in include.post.authors %}
	{% if forloop.last and forloop.length > 1 %}and {% endif %}
		<a rel="author" href="{{ author[1] }}">{{ author[0] }}</a>{% if forloop.length == 2 or forloop.last %} {% else %}, {% endif %}
	{% endfor %}
	</address>
	<p style="margin-top: 0;">
		<i>Published <time datetime="{{ include.post.date | date: '%Y-%m-%d'}}"">on {{ include.post.date | date: "%B %d, %Y" }}</time></i>
	</p>
</div>
