<div class="sidebar">
	<header class="sidebar-header">
		<h1 class="sidebar-header-logo hackbu">
			<a href="/">Hack<span class="hackbu-green">BU</span></a>
		</h1>
		<a href="mailto:hello@hackbu.org" class="sidebar-header-email">hello@hackbu.org</a>
	</header>

	<ul class="sidebar-navigation navigation">
		<li {% if page.url == '/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/">Home</a>
		</li>
		<li {% if page.url == '/resources/schedule.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/schedule/">Schedule</a>
		</li>
		<li {% if page.url == '/resources/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/resources/">Resources</a>
		</li>
		<!-- <li {% if page.url == '/demo/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/demo/">Demo Code</a>
		</li> -->
<!--
		<li {% if page.url == '/workshops/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/workshops/">Workshops</a>
		</li>
-->
		<li {% if page.url == '/organizers/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/organizers/">Organizers</a>
		</li>
		<li {% if page.url == '/hackathons/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/hackathons/">Hackathons</a>
		</li>
		<li {% if page.url == '/sponsors/index.html' %}class="sidebar-navigation-active navigation-active"{% endif %}>
			<a href="/sponsors/">Sponsors</a>
		</li>
	</ul>

	<p class="sidebar-credit">
		<a href="https://github.com/HackBinghamton/HackBU" title="Contribute to the HackBU website">Fork us on GitHub!</a>
		<a href="/humans.txt" title="The people behind HackBU">Created with <i class="fa fa-heart"></i>for Binghamton University.</a>
	</p>
</div>
