<div class="sidebar">
	<header class="sidebar-header">
		<h1 class="sidebar-header-logo hackbu">
			<a href="http://hackbu.org/">Hack<span class="hackbu-green">BU</span></a>
		</h1>
		<a href="mailto:hello@hackbu.org" class="sidebar-header-email">hello@hackbu.org</a>
	</header>

	<ul class="sidebar-navigation">
		<li {% if page.url == '/index.html' %}class="sidebar-navigation-active"{% endif %}>
			<a href="/">Home</a>
		</li>
		<li {% if page.url == '/workshops/index.html' %}class="sidebar-navigation-active"{% endif %}>
			<a href="/workshops/">Workshops</a>
		</li>
		<li {% if page.url == '/hackathons/index.html' %}class="sidebar-navigation-active"{% endif %}>
			<a href="/hackathons/">Hackathons</a>
		</li>
		<li {% if page.url == '/resources/index.html' %}class="sidebar-navigation-active"{% endif %}>
			<a href="/resources/">Resources</a>
		</li>
	</ul>

	<p class="sidebar-credit">Website by Daniel O'Connor <br>Photo by Jonathan Heisler</p>
</div>