<!DOCTYPE html>
<html>
	<head>
		{% if page.title %}
			{% assign title = page.title %}
		{% else %}
			{% assign title = site.title %}
		{% endif %}

		<title>{{ title }}</title>

		{% if page.description %}
			{% assign description = page.description %}
		{% else %}
			{% assign description = site.description %}
		{% endif %}

		<meta name="description" content="{{ description }}">

		{% if page.og_title %}
			{% assign og_title = page.og_title %}
		{% elsif site.og_title %}
			{% assign og_title = site.og_title %}
		{% else %}
			{% assign og_title = title %}
		{% endif %}

		<meta property="og:title" content="{{ og_title }}">

		{% if page.og_description %}
			{% assign og_description = page.og_description %}
		{% elsif site.og_description %}
			{% assign og_description = site.og_description %}
		{% else %}
			{% assign og_description = description %}
		{% endif %}
		<meta property="og:description" content="{{ og_description }}">

		{% if page.og_image %}
			{% assign og_image = page.og_image %}
		{% else %}
			{% assign og_image = site.og_image %}
		{% endif %}
		<meta property="og:image" content="{{ og_image }}">

		<!-- 2019 admin@hackbu.org domain meta tag -->
		<meta name="google-site-verification" content="Wlac4bGK0nmiLxq0USGeH_n8bBf0_t2kO1LKWNeM1Ss" />
		<!-- 2019 admin@club.hackbu.org domain meta tag -->
		<!-- <meta name="google-site-verification" content="HXT7WmtKOjdiIUXOvlgjbQRz1tENoM8D8j3cToQqAzA" /> -->
		<!-- Old Meta Tag -->
		<!-- <meta name="google-site-verification" content="8pkyZiltIOIW2XJNnBcPeWK8qs5dLwSZDicf5nPW-fw" /> -->

		<meta property="og:url" content="{{ site.root }}{{ page.url | replace: 'index.html', '' }}">

		{% include head.html %}
	</head>
	<body class="{{ page.class }}">
		{% include header.html %}

		{% include sidebar.html %}

		<div class="container">
			{% include announcement.html %}

			<div class="page-content">
        {% include image-gallery.html folder="/photos/hackathon-2019" %}
			</div>
		</div>

		{% include footer.html %}

	</body>
</html>
